{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div>Playing with Elastic Search!</div>
    <div>
       <ul>
           <li>
               Index a document 'my_index':
               <a href="{{ path('elastic_index_document', { 'index': 'my_index', 'value': '1448148847'}) }}">
                   link (send param 'value' url)
               </a>
           </li>
           <li>
               Get a document:
               <a href="{{ path('elastic_get_document', {'id': 'something else'}) }}">
                   link
               </a>
               (search in my_index index and 'custom_identifier' 'id' url)
           </li>
           <li>
               Search a document:
               <a href="{{ path('elastic_search_document') }}">
                   link (send param 'search' with a word)
               </a>
           </li>
       </ul>
    </div>
{% endblock %}
