{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div>Playing with Elastic Search!</div>
    <div>
        Response:
        <div>
            {{ response | ladybug_dump }}
        </div>
    </div>
{% endblock %}
