<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Composer</th>
    </tr>
    </thead>
    <tbody>
    {% for track in tracks %}
        <tr>
            <td>{{ track.id }}</td>
            <td><a href="{{ path("app_playlists_track", { "id": playlistId, "trackId": track.id }) }}">{{ track.name }}</a></td>
            <td>{{ track.composer }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>